{% extends 'base.jinja2' %}

{% block title %}
    Cart
{% endblock %}

{% block body %}

    <div class="Middle Middle_top">
        <div class="Section">
            <div class="wrap">
                {% for item in cart %}
                    <form action="{{ url('app_cart:cart_add', product_in_shop_id=item.product_in_shop.id) }}"
                          method="post">
                        {% csrf_token %}
                        <div class="Cart-product">
                            <div class="Cart-block Cart-block_row">
                                <div class="Cart-block Cart-block_pict"><a class="Cart-pict"
                                                                           href="{{ url('appcatalog:product_details', pk=item.product_in_shop.id) }}">
                                    <img class="Cart-img" src="{{ item.product_in_shop.product.image_main.url }}"
                                         alt="{{ item.product_in_shop.image_main }}"/>
                                </a>
                                </div>
                                <div class="Cart-block Cart-block_info"><a class="Cart-title"
                                                                           href="{{ url('appcatalog:product_details', pk=item.product_in_shop.id) }}">
                                    {{ item.product_in_shop.product.name }}</a>
                                    <div class="Cart-desc">{{ item.product_in_shop.product.description }}
                                    </div>
                                </div>
                                <div class="Cart-block Cart-block_price">
                                    <div class="Cart-price">
                                        {% if item.price_discount %}
                                            <div class="Card-cost"><span
                                                    class="Card-priceOld"><s>{{ item.price }}</s></span></div>
                                            <div class="Card-cost"><span
                                                    class="Card-price">{{ item.price_discount }}</span></div>
                                        {% else %}
                                            <div class="Card-cost"><span class="Card-price">{{ item.price }}</span>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="Cart-block Cart-block_row">
                                <div class="Cart-block Cart-block_seller">
                                    <!-- - var options = setOptions(items, ['value', 'selected', 'disabled']);-->
                                </div>
                                <div class="Cart-block Cart-block_amount">
                                    <div class="Cart-amount">
                                        <div class="Amount">
                                            <button class="Amount-remove" type="button">
                                            </button>
                                            <input class="Amount-input form-input" name="quantity" type="text"
                                                   value={{ item.quantity }} >
                                            {{ form.update_quantity_form.update }}
                                            <button class="Amount-add" type="button">
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <input class="Amount-input form-input" type="submit" value="Update">

                                <div class="Cart-block Cart-block_delete"><a class="Cart-delete"
                                                                             href="{{ url('app_cart:cart_remove', product_in_shop_id=item.product_in_shop.id) }}">
                                    <img src={{ static("assets/img/icons/card/delete.svg") }} alt="delete.svg"/></a>
                                </div>
                            </div>
                        </div>
                    </form>
                {% endfor %}
                <div class="Cart-total">
                    <div class="Cart-block Cart-block_total">
                        <div>

                            {% if cart.coupon.discount %}

                                <div>
                                    <strong class="Cart-title">
                                        {% for item in cart %}
                                        {% if (item.all | length) < 1 %}
                                        Итого:
                                            {% else %}

                                            {% endif %}
                                    {% endfor %}</strong>

                                    <span class="Cart-price">

                                        {% if cart.get_total_price_after_discount() %}
                                            <table>
                                                 <tr>
                                                     <th><s>{{ cart.get_total_price() }}</s></th>
                                                 </tr>
                                                 <tr>
                                                     <th>{{ cart.get_total_price_after_discount() }}</th>
                                                 </tr>
                                            </table>
                                        {% else %}
                                            {% for item in cart %}
                                            {% if (item.all | length) < 1 %}
                                            {{ cart.get_total_price() }}
                                            {% else %}
{#                                            Товар еще не добавлен в корзину.#}
                                            {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        </span>
                                    {% if request.user.is_authenticated %}
                                        {% for item in cart %}
                                            {% if (item.all | length) > 1 %}
                                                <div>
                                                    <div>{% if cart.coupon.code %}
                                                        Промокод: {{ cart.coupon.code }} ({{ cart.coupon.discount }}%)
                                                    {% endif %}
                                                    </div>
                                                </div>

                                                <div>
                                                    <form action="{{ url("app_cart:coupon_apply") }}" method="post">
                                                        {{ form.coupon_apply_form }}
                                                        <input type="submit" value="Применить">
                                                        {% csrf_token %}
                                                    </form>
                                                </div>
                                            {% else %}
                                                <div>
                                                    <div>{% if cart.coupon.code %}
                                                        Промокод: {{ cart.coupon.code }} ({{ cart.coupon.discount }}%)
                                                    {% endif %}
                                                    </div>
                                                </div>

                                                <div>
                                                    <form action="{{ url("app_cart:coupon_apply") }}" method="post">
                                                        {{ form.coupon_apply_form }}
                                                        <input type="submit" value="Применить">
                                                        {% csrf_token %}
                                                    </form>

                                                </div>

                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                </div>

                            {% else %}
                                {% for item in cart %}
                                    {% if (item.all | length) > 1 %}

                                        <div><strong class="Cart-title">Итого:</strong>
                                        <span class="Cart-price">{{ cart.get_total_price() }}</span>
                                        {% if request.user.is_authenticated %}
                                            <div>
                                                <div>{% if cart.coupon.code %}
                                                    Промокод: {{ cart.coupon.code }} ({{ cart.coupon.discount }}%)
                                                {% endif %}
                                                </div>
                                            </div>

                                            <div>
                                                <form action="{{ url("app_cart:coupon_apply") }}" method="post">
                                                    {{ form.coupon_apply_form }}
                                                    <input type="submit" value="Применить">
                                                    {% csrf_token %}
                                                </form>
                                            </div>


                                        {% endif %}
                                    {% else %}
                                        <div><strong class="Cart-title">Итого:</strong>
                                            <span class="Cart-price">{{ cart.get_total_price() }}</span></div>
                                        <div>
                                            <div>{% if cart.coupon.code %}
                                                Промокод: {{ cart.coupon.code }} ({{ cart.coupon.discount }}%)
                                            {% endif %}
                                            </div>
                                        </div>

                                        <div>
                                            <form action="{{ url("app_cart:coupon_apply") }}" method="post">
                                                {{ form.coupon_apply_form }}
                                                <input type="submit" value="Применить">
                                                {% csrf_token %}
                                            </form>

                                        </div>


                                    {% endif %}
                                {% endfor %}

                            </div>
                            {% endif %}
                    </div>

                </div>
            {% for item in cart %}
                {% if (item.all | length) < 1 %}
                <div class="Cart-block"><a class="btn btn_success btn_lg"
                                           href="{{ url("apporders:checkout_order") }}">Оформить заказ</a></div>
                {% else %}
                <div class="Cart-block"> Товар еще не добавлен в корзину. </div>
                {% endif %}
            {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}
