{% extends 'base.jinja2' %}

{% block title %}
    Оформление заказа
{% endblock %}

{% block body %}
<div class="Middle Middle_top">
        <div class="Section Section_column Section_columnRight Section_columnWide Order">
            <div class="wrap">


                <div class="Section-column">
                    <div class="Section-columnSection">
                        <header class="Section-header">
                            <strong class="Section-title">Прогресс заполнения
                            </strong>
                        </header>
                        <div class="Section-columnContent">
                            <div class="NavigateProfile">
                                <ul class="menu menu_vt">
                                    <li class="menu-item_ACTIVE menu-item"><a class="menu-link" href="#step1">Шаг 1. Параметры пользователя</a>
                                    </li>
                                    <li class="menu-item"><a class="menu-link" href="#step2">Шаг 2. Способ доставки</a>
                                    </li>
                                    <li class="menu-item"><a class="menu-link" href="#step3">Шаг 3. Способ оплаты</a>
                                    </li>
                                    <li class="menu-item"><a class="menu-link" href="#step4">Шаг 4. Подтверждение заказа</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="Section-content">
                    <form class="form" action="{{ url ('apporders:create_order') }}" method="POST">
                        {% if not request.user.is_authenticated %}
                        <div class="row-block">
                            <div class="form-group"><a class="btn btn_muted Order-btnReg" href="{{url ('app_users:register')}}">Я еще не зарегистрирован</a>
                            </div>
                            <div class="form-group"><a class="btn btn_muted Order-btnReg" href="{{url ('app_users:login')}}">Я уже зарегистрирован</a>
                            </div>
                        </div>
                        {% else %}
                        {% csrf_token %}
                        <div class="Order-block Order-block_OPEN" id="step1">
                            <header class="Section-header Section-header_sm">
                                <h2 class="Section-title">Шаг 1. Параметры пользователя
                                </h2>
                            </header>
                            <div class="row">
                                <div class="row-block">
                                    <div class="form-group">
                                        <label class="form-label" for="id_full_name">ФИО
                                        </label>
                                        <input class="form-input" id="id_full_name" name="full_name" type="text" data-validate="require" placeholder="Фамилия Имя Отчество"
                                        {% if form.is_bound %} value="{{ form.full_name.value() }}"{% endif %}/>
                                        <a style="color:red;">{{ form.full_name.errors}}</a>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="id_phone_number">Телефон
                                        </label>
                                        <input class="form-input" id="id_phone_number" name="phone_number" type="tel" data-validate="require" placeholder="Телефон"
                                        {% if form.is_bound %} value="{{ form.phone_number.value() }}"{% endif %}/>
                                        <a style="color:red;">{{ form.phone_number.errors}}</a>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="id_email">E-mail
                                        </label>
                                        <input class="form-input" id="id_email" name="email" type="email" data-validate="require" placeholder="E-mail"
                                        {% if form.is_bound %} value="{{ form.email.value() }}"{% endif %}/>
                                        <a style="color:red;">{{ form.email.errors}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="Order-footer"><a class="btn btn_success Order-next" href="#step2">Дальше</a>
                            </div>
                        </div>
                        <div class="Order-block" id="step2">
                            <header class="Section-header Section-header_sm">
                                <h2 class="Section-title">Шаг 2. Способ доставки
                                </h2>
                            </header>
                            {% for item_settings in settings_price %}
                            <div class="form-group">
                                <div>
                                    <label for="id_delivery" class="toggle">
                                        <input type="radio" id="delivery" value="ordinary" name="delivery" checked="checked" {% if form.delivery.is_bound %} value="{{ form.delivery }}"{% endif %}/>
                                        <span class="toggle-box"></span><span class="toggle-text toggle-text_checked">{{form.delivery[0]}}</span>

                                        <p class="delivery_size">БЕСПЛАТНО***
                                           <br>********************************************************
                                            <br>Стоимость доставки {{item_settings.price_ordinary_delivery}} рублей*
                                           <br>*1)Если стоимость заказа меньше {{item_settings.min_total_price_order}} рублей
                                           <br>ИЛИ
                                           <br>*2)В корзине есть товары от разных продавцов.
                                           <br>********************************************************
                                        </p>
                                    </label>
                                </div>
                                <div>
                                    <label for="id_delivery" class="toggle">
                                        <input type="radio" id="id_delivery" value="express" name="delivery" {% if form.delivery.is_bound %} value="{{ form.delivery }}"{% endif %}/>
                                        <span class="toggle-box"></span><span class="toggle-text toggle-text_checked">{{form.delivery[1]}}</span>
                                        <p class="delivery_size">Стоимость доставки {{item_settings.price_express_delivery}} рублей.</p>
                                    </label>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="form-group">
                                <label class="form-label" for="id_city">Город
                                </label>
                                <input class="form-input" id="id_city" name="city" type="text" data-validate="require" placeholder="Город"
                                        {% if form.is_bound %} value="{{ form.city.value() }}"{% endif %} />
                                <a style="color:red;">{{ form.city.errors}}</a>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="id_address">Адрес
                                </label>
                                <input class="form-textarea" id="id_address" name="address" type="text" data-validate="require" placeholder="Адрес"
                                        {% if form.is_bound %} value="{{ form.address.value() }}"{% endif %}/>
                                <a style="color:red;">{{ form.address.errors}}</a>
                            </div>
                            <div class="Order-footer"><a class="btn btn_success Order-next" href="#step3">Дальше</a>
                            </div>
                        </div>
                        <div class="Order-block" id="step3">
                            <header class="Section-header Section-header_sm">
                                <h2 class="Section-title">Шаг 3. Способ оплаты
                                </h2>
                            </header>
                                <div>
                                    <label for="id_payment" class="toggle">
                                        <input type="radio" name="payment" id="id_payment" value="online" checked="checked" {% if form.payment.is_bound %} value="{{ form.payment }}"{% endif %}/>
                                        <span class="toggle-box" ></span><span class="toggle-text toggle-text_checked">{{form.payment[0]}}</span>
                                    </label>
                                </div>
                                <div>
                                    <label for="id_payment" class="toggle">
                                        <input type="radio" name="payment" id="id_payment" value="someone" {% if form.payment.is_bound %} value="{{ form.payment }}"{% endif %}/>
                                        <span class="toggle-box" ></span><span class="toggle-text toggle-text_checked">{{form.payment[1]}}</span>
                                    </label>
                                </div>
                                {% for item in form.status %}
                                <div>
                                    <label for="id_status" class="toggle">
                                        <input type="radio" name="status" id="id_status" value="not paid" checked="checked" {% if item.is_bound %} value="{{ item }}"{% endif %}/>

                                    </label>
                                </div>
                                {% endfor %}
                            <div class="form-group">
                                <label class="form-label" for="address">Комментарий к заказу
                                </label>
                                <textarea class="form-textarea" id="id_comment" name="comment" placeholder="Комментарий к заказу"
                                        {% if form.is_bound %} value="{{ form.comment.value() }}"{% endif %}></textarea>
                                <a style="color:red;">{{ form.comment.errors}}</a>
                            </div>
                            <div class="Order-footer">
                                <a class="btn btn_success Order-next" type="submit" href="#step4">Дальше</a>
                            </div>
                        </div>
                        <div class="Order-block" id="step4">
                            <header class="Section-header Section-header_sm">
                                <h2 class="Section-title">Шаг 4. Подтверждение заказа
                                </h2>
                            </header>
                            <!--+div.Order.-confirmation-->
                            <div class="Order-infoBlock">
                                <div class="Order-personal">
                                    <div class="row">
                                        <div class="row-block">
                                            <div class="Order-info">
                                                <div class="Order-infoType">ФИО:
                                                </div>
                                                <div class="Order-infoContent">{{ form.full_name.value() }}
                                                </div>
                                            </div>
                                            <div class="Order-info">
                                                <div class="Order-infoType">Телефон:
                                                </div>
                                                <div class="Order-infoContent">{{ form.phone_number.value() }}
                                                </div>
                                            </div>
                                            <div class="Order-info">
                                                <div class="Order-infoType">E-mail:
                                                </div>
                                                <div class="Order-infoContent">{{ form.email.value() }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-block">
                                            <div class="Order-info Order-info_delivery">
                                                <div class="Order-infoType">Тип доставки:
                                                </div>
                                                <div class="Order-infoContent">{{ form.delivery.value() }}
                                                </div>
                                            </div>
                                            <div class="Order-info">
                                                <div class="Order-infoType">Город:
                                                </div>
                                                <div class="Order-infoContent">{{ form.city.value() }}
                                                </div>
                                            </div>
                                            <div class="Order-info">
                                                <div class="Order-infoType">Адрес:
                                                </div>
                                                <div class="Order-infoContent">{{ form.address.value() }}
                                                </div>
                                            </div>
                                            <div class="Order-info Order-info_pay">
                                                <div class="Order-infoType">Оплата:
                                                </div>
                                                <div class="Order-infoContent">{{ form.payment.value() }}
                                                </div>
                                            </div>
                                            <div class="Order-info Order-info_pay">
                                                <div class="Order-infoType">Комментарий к заказу:
                                                </div>
                                                <div class="Order-infoContent">{{ form.comment.value() }}
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="Cart Cart_order">
                                {% for item in cart %}
                                    <div class="Cart-product">
                                        <div class="Cart-block Cart-block_row">
                                            <div class="Cart-block Cart-block_pict">
                                            <a class="Cart-pict" href="{{ url('appcatalog:product_details', pk=item.product_in_shop.id) }}">
                                                <img class="Cart-img" src="{{ item.product_in_shop.product.image_main.url }}"
                                                alt="{{ item.product_in_shop.image_main }}" />
                                            </a>
                                            </div>
                                            <div class="Cart-block Cart-block_info">
                                                <a class="Cart-title" href="{{ url('appcatalog:product_details', pk=item.product_in_shop.id) }}">
                                                    {{ item.product_in_shop.product.name }}</a>
                                                <div class="Cart-desc">{{ item.product_in_shop.product.description }}</div>
                                            </div>
                                            <div class="Cart-block Cart-block_price">
                                                <div class="Cart-price">{{ item.price }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="Cart-block Cart-block_row">
                                            <div class="Cart-block Cart-block_amount">{{ item.quantity }} шт.
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <div class="Cart-total">
                                        <div class="Cart-block Cart-block_total">
                                            <strong class="Cart-title">Итого:
                                            </strong><span class="Cart-price">{{ cart.get_total_price() }}</span>
                                        </div>
                                        <div class="Cart-block">
                                            <button class="btn btn_primary btn_lg" type="submit">Оплатить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}