{% extends 'base.jinja2' %}

{% block title %}
    Оформление заказа Тест
{% endblock %}

{% block body %}


Форма заказа

<form action="{{ url ('apporders:create_order') }}"  method="POST">
{% csrf_token %}
{{form}}
<input type="submit" values="оформить">
</form>


{% endblock %}