
{% extends 'base.html' %}
{% load static%}
{% block title %} 
    {% if category %}{{ category.name }}{% else %}Category{% endif %}
{% endblock %}
{% block category %}
    <h3>Categories</h3>
    <ul>
        <li>{% if not category %}{% endif %}
             <a  href="{% url 'appcatalog:product_list' %}">All</a>
        </li>
        {% for cat in categories %}
            <li>{% if category.slug == cat.slug %}{% endif %}
                <a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <h1>{% if category %}
        {{ category.name }}
    {% else %}
        Products
    {% endif %}
</h1>
{% for product in products %}
    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
    <p>{{ product.price }}</p>
    {% for image in images %}
    <p>{{ image.url }}</p>
    {% endfor %}
    <p></p>
{% endfor %}
{% endblock %}
