{% extends 'base.jinja2' %}
{% block title %}

{% endblock %}

{% block body %}


    <div class="Middle Middle_top">
        <div class="Middle-top">
            <div class="wrap">
                <div class="Middle-header">

                    <ul class="breadcrumbs Middle-breadcrumbs">
                        <li class="breadcrumbs-item"><a href="index.html">Главная</a>
                        </li>
                        <li class="breadcrumbs-item breadcrumbs-item_current"><span>Скидки</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="Section">

            <div class="wrap">

                <div class="Cards Cards_blog">
                    {% for obj in context %}
                        <div class="Card"><a class="Card-picture"
                                             href="{{ url ('appcatalog:product_details', pk=obj.product_id) }}"><img
                                src="{{ obj.product_image }}"
                                alt="product.png"/></a>
                            <div class="Card-date">
                                <strong class="Card-date-number">
                                    {% if obj.datetime_start.day %}{{ obj.datetime_start.day }}{% endif %}
                                </strong><span class="Card-date-month">{% if obj.datetime_start.month %}month
                                {{ obj.datetime_start.month }}
                                </span>{% endif %}
                            </div>

                            <div class="Card-date Card-date_to">
                                <strong class="Card-date-number">{% if obj.datetime_end.day %}
                                    {{ obj.datetime_end.day }}
                                {% endif %}
                                </strong><span class="Card-date-month">{% if obj.datetime_end.month %} month
                                {{ obj.datetime_end.month }}</span>
                            {% endif %}
                            </div>

                            {#                            <div class="Card-pin">#}
                            {#                            </div>#}
                            <div class="Card-content">
                                <strong class="Card-title"><a href="#">
                                    {% if obj.category_product %}
                                        {{ obj.category_product }}
                                    {% endif %}  </a>
                                </strong>
                                <div class="Card-description">
                                <strong>
                                    <div>{% if obj.product_name %}{{ obj.product_name }} </div>
                                        <div>{% if obj.product_type_discount %}Тип скидки:
                                            {{ obj.product_type_discount }}
                                        {% endif %}</div>
                                        <div>{% if obj.product_price %}цена без скидки: {{ obj.product_price }}</div>
                                            <div>{% if obj.product_discount_price %}Цена со скидкой:
                                                {{ obj.product_discount_price }}</div>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </strong>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>

            </div>

        </div>

    </div>
    <div class="Pagination">
        <div class="Pagination-ins">
            {% if catalog_page_obj.has_previous() %}
                <a class="Pagination-element Pagination-element_prev"
                   href="?page_catalog={{ catalog_page_obj.previous_page_number() }}"><img
                        src="{{ static ('assets/img/icons/prevPagination.svg') }}"
                        alt="prevPagination.svg"/></a>
                <a class="Pagination-element"
                   href="?page_catalog={{ catalog_page_obj.previous_page_number() }}">{{ catalog_page_obj.previous_page_number() }}<span
                        class="Pagination-text"></span></a>
            {% endif %}
            <a class="Pagination-element Pagination-element_current"
               href="?page_catalog={{ catalog_page_obj.number }}"><span
                    class="Pagination-text">{{ catalog_page_obj.number }}</span></a>
            {% if catalog_page_obj.has_next() %}
                <a class="Pagination-element"
                   href="?page_catalog={{ catalog_page_obj.next_page_number() }}"><span
                        class="Pagination-text">{{ catalog_page_obj.next_page_number() }}</span></a>
                <a class="Pagination-element Pagination-element_prev"
                   href="?page_catalog={{ catalog_page_obj.next_page_number() }}"><img
                        src="{{ static ('assets/img/icons/nextPagination.svg') }}"
                        alt="nextPagination.svg"/></a>
            {% endif %}
        </div>
    </div>
{% endblock %}
