<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Onlone shop</title>
    <style>
        body{
            font-family: verdana;
        }
        *{
            margin: 0;
            padding: 0;
        }
        header, footer{
            position: absolute;
            background-color:black;
            width: 100%;
            color: azure;
        }
        header{
            height: 10vh;
        }
        header h1{
            position: absolute;
            margin-top: 20px;
            left: 10%;
            text-shadow: 0 0 10px yellow;
        }
        footer{
            height: 15vh;
            bottom: 0;
        }
        footer h2{
            position: absolute;
            left: 40%;
        }
        .ok{
            position: absolute;
            width: 100%;
        }
        .ok a{
            position: relative;
            padding: 10px 20px;
            left: 35%;
            top: 20px;
            color: azure;
            text-decoration: none;
            margin-right: 20px;
        }
        .ok a:hover{
               color: red;
               transition: 0.5s;
           }
        button{
               margin-left: 50px;
               padding: 10px 30px;
               border-radius: 50px;
               border: none;
               background-color:turquoise ;
           }
        section{
            height: 600px;
            margin-top: 4px;
            line-height:300px ;
            background-color: red;
        }
        section h1{
            color: darkblue;
            font-style: italic;
        }
    </style>
</head>
<body>
<header>
   <h1>Welcome </h1>
   <div class="ok">
       <a href="#">Home</a>
       <a href="#">Products</a>
       <a href="#">About Us </a>
       <a href="#">Contact</a>
       <a href="#"><button type="submit">LOG IN</button></a>
   </div>
</header>

<section>
 <div>
     <h1>Here wil be main informations about products </h1>
 </div>
</section>

<footer>
  <h2>&copy;Copyright reserved.</h2>
</footer>
</body>
</html>