<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ static ('assets/css/fonts.css?v=65245665') }}">
    <link rel="stylesheet" href="{{ static ('assets/css/basic.css?v=65245665') }}">
    <link rel="stylesheet" href="{{ static ('assets/css/extra.css?v=65245665') }}">

    {#<link rel="stylesheet" href="assets/css/fonts.css?v=65245665">#}
    {#<link rel="stylesheet" href="assets/css/basic.css?v=65245665">#}
    {#<link rel="stylesheet" href="assets/css/extra.css?v=65245665">#}
    <title>{% block title %}
        {% endblock %}
    </title>
</head>
<body>
    {% include "menu.html"%}

    {% block content%}
    {% endblock %}

    {% include "footer.html"%}
</body>
</html>