{% extends 'base.jinja2' %}

{% block title %}
    Каталог
{% endblock %}

{% block body %}
    <div class="Middle Middle_top">
        <div class="Middle-top">
            <div class="wrap">
                <div class="Middle-header">
                    <h1 class="Middle-title">Оплата
                    </h1>
                    <ul class="breadcrumbs Middle-breadcrumbs">
                        <li class="breadcrumbs-item"><a href="index.html">home</a>
                        </li>
                        <li class="breadcrumbs-item breadcrumbs-item_current"><span>Оплата</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="Section">
            <div class="wrap">
                <form class="form Payment" action="#" method="post">
                    {% csrf_token %}
                    <div class="Payment-card">
                        <div class="form-group">
                             <label class="form-label">Сумма заказа {{get_total_price}} руб.</label>
                             <label class="form-label">Стоимость доставки {{form.delivery_cost}} руб.</label>
                             <label class="form-label">Сумма к оплате {{(get_total_price + form.delivery_cost)|round(2)}} руб.</label>
                            <label class="form-label">Номер карты
                            </label>
                            <input class="form-input Payment-bill" id="numero1" name="numero1" type="text" placeholder="9999 9999" data-mask="9999 9999" data-validate="require pay" />
                        </div>
                    </div>
                    {% if form.payment == 'Онлайн со случайного чужого счета'%}
                        <div class="form-group"><a class="btn btn_success Payment-generate" href="#">
                            Сгенирировать случайный счет</a></div>
                    {% endif %}
                    <div class="Payment-pay"><button class="btn btn_primary" type="submit" name="pay"
                                                value="#">Оплатить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}